//map colors

@mixin bg-colors($map){
  @each $theme, $color in $map {
    .btn--#{$theme} {
      background-color: $color;
    }
  }
}

@mixin grid-colors($map){
  @each $theme, $color in $map {
    &__#{$theme} {
      background-color: $color;

    }
  }
}

//flexbox mixins

// @mixin flex {
// display: flex;
// flex-wrap: wrap;
// justify-content: space-between;
// }
// @mixin flex2 {
//   display:flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
@mixin flex(
$disp: flex,
$dir: null,
$wrap: null,
$just: null){
  display: $disp;
  flex-direction: $dir;
  flex-wrap: $wrap;
  justify-content: $just;
}
//media queries

  @mixin mq($break){
    @if $break=="medium"{
    @media(min-width: $breakpoint-md) {
      @content;
    }
  }

@else if $break=="large"{
  @media(min-width: $breakpoint-lg) {
    @content;
  }
}

@else {
  @error "No value for '#{$break}'."
 }
}
