.grid__col--12 {
  @include flex($wrap: wrap, $just: space-between);
  width: 90%;
  margin: auto;
  @include bg-colors($ui-colors);
}

[class^="btn--"] {
  @extend %border;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
}

form .btn--default {
  background-color: $turquoise;
    width: 100%;
}
