.img--logo {
@extend %dis;
margin-top: 2.5em;
}

.img--avatar {
  @extend %dis;
  margin-top: 25px;
}

.img--frame {
  width: 99%;
  @extend %dis;
  margin-top: 3em;
  border: 1px $color-text-lighter solid;
  padding: 12px;
  @include mq(medium){
    margin: 1em;
    width:90%;
}
}
