
.nav {
  margin-top: 3em;
  padding-left: 0;
  list-style-type: none;
  @include mq(medium){
  @include flex($dir: row, $just: space-between);
  margin-top: 4em;
  width: 80%;
}
    .nav__item {
      a {
          display: block;
          color: $color-text-darker;
          text-decoration: none;
          text-align: center;
          border-radius: $br;
          margin-bottom: em(14px);
          font-size: em(20px);
          padding: 12px 20px;
            &:hover {
                background-color: $turquoise;
                color: #fff;
              }
       }
    }
}
  
