
.container {
  width: 85%;
  margin: 0 auto;
  font-family: $stack-sans-serif;
  @include mq(large) {
    margin: auto;
    max-width: 1200px;
  }
}

.headline--secondary {
  color: $color-text-lighter;
  font-size: em(17px);
  font-weight: $font-weight-lighter;
  margin-top: em(60px);
  margin-bottom: em(40px);
}

.headline--primary {
  margin-bottom: em(20px);
  padding-left: em(15px);
  color: $turquoise;
}

.link{
  text-decoration: none;
  color: $light-blue;
  font-weight: $font-weight-bold;
}

.blockquote {
  font-size: em(24px);
  color:$color-text-base;
  border-left: 7px solid $turquoise;
  padding-left: em(15px);
  border-radius: $br;
  margin-bottom: 0;
}

.card{
  @include mq(medium) {
  width: 80%;
  }
}
